body {
    background-image: url(background-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}

.mid-title {
    text-align: center;
    font-family: 'font1';
    color: white;
    font-size: 200px;
    margin-bottom: 50px;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.63);
}

.mid-title2 {
    text-align: center;
    font-family: 'font1';
    color: white;
    font-size: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.63);
}
 

.info-text{

    background-color: rgba(0, 0, 0, 0.3);
    width: 700px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    margin-bottom: 70px;
    margin-top: 50px;
    /* padding-bottom: 15px; */
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);


}
div.info-text > p{
    font-size: 25px;
    color: white;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    font-family: 'font2';
}

div.info-text > h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 10px;
    font-family: 'font5';
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    height: 100%;
    right: 50px;
    

}



@font-face {
    font-family: 'font1';
    src: url('font1.ttf') format('truetype');


}

@font-face {
    font-family: 'font2';
    src: url('font2.otf') format('truetype');
}

@font-face {
    font-family: 'font3';
    src: url('font3.otf') format('truetype');
}

@font-face {
    font-family: 'font4';
    src: url('font4.otf') format('truetype');
}
@font-face {
    font-family: 'font5';
    src: url('font5.otf') format('truetype');
}
.bot2 {
    position: relative;
    float: left;
    border: none;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: 'font1';
    font-size: 20px;
    cursor: pointer;

}

.bot2:hover {
    animation: bot2-color 800ms;
    animation-fill-mode: forwards;
}
.bot2:not(:hover) {
    animation: bot2-color2 600ms;
}

@keyframes bot2-color {
    from {
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
    }

    to {
        background-color: rgb(255, 255, 255);
        color:black;
    }

}
@keyframes bot2-color2 {
    from {
        background-color: rgb(255, 255, 255);
        color:black;
    }

    to {
        
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
    }

}

.bot {
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%);
    border: none;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    background-color: white;
    color: rgb(255, 21, 60);
    font-family: 'font1';
    font-size: 20px;

}

@keyframes color {
    from {
        background-color: white;
        color: rgb(255, 21, 60);
        border-radius: 40px;
    }

    to {
        background-color: rgb(255, 21, 60);
        color: white;
        border-radius: 12px;
    }

}

@keyframes color2 {
    from {
        background-color: rgb(255, 21, 60);
        color: white;
        border-radius: 12px;
    }

    to {
        background-color: white;
        color: rgb(255, 21, 60);
        border-radius: 40px;
    }
}

.bot:hover {
    animation: color 600ms;
    animation-fill-mode: forwards;
}

.bot:not(:hover) {
    animation: color2 600ms;

}

.menu {
    list-style-type: none;
    margin: 0;
    background-color: rgba(26, 26, 26, 0.9);
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 0px 5px 20px;
    top: 0;
    z-index: 1;
    



}

li {
    cursor: pointer;
    float: right;
    color: rgb(255, 255, 255);
    padding: 3px 5px 3px 5px;
    margin: 0 5px 0 5px;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-family: 'font3';
    font-size: 25px;

}

li:hover {

    border-bottom: 4px solid rgb(255, 21, 60);
    padding-bottom: 1px;
    padding-top: 3px;
    color: rgb(255, 21, 60);
    animation: text-color 500ms;
}

.top {
    background-color: rgba(26, 26, 26, 0.9);
    display: inline-box;
    width: 100%;
    height: 100px;
    position: static;
    top: 0;
    margin: 0;
    z-index: 1;



}

.bottom {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.9));
    box-shadow: 0px -5px 20px;
    width: 100%;
    height: 46px;
    margin-top: 25px;
    border-top: 2px rgb(0, 0, 0) solid;
    position: fixed;
    bottom: 0;
    
}
.download-box{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    font-family: 'font4';
    font-size: 30px;
    cursor: default;
    position: relative;
    top: 50px;
    margin-bottom: 200px;
    
}
table.download-box tr{
    border-bottom: 2px solid rgb(0, 0, 0);
    
}
table.download-box tr:first-child{
    background-color: rgba(0, 0, 0, 0.438);
}
table.download-box tr:hover:not(:first-child){
    background-color: rgb(255, 21, 60);
    cursor: pointer;
}


.tel,
.ap,
.git,
.dis {
    color: white;
    font-family: font2;
    margin: 0;
    float: left;
    padding: 1px 16px 1px 16px;
    font-family: 'font4';
    font-size: 25px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
}

.r-b {
    color: white;
    font-family: font2;
    margin: 0;
    float: right;
    padding: 1px 16px 1px 16px;
    font-family: 'font4';
    font-size: 25px;
    cursor: default;
    margin-top: 2px;
    margin-bottom: 2px;

}

.tel:hover {
    animation: tel-color 800ms;
    animation-fill-mode: forwards;
}

.tel:not(:hover) {
    animation: tel-color2 600ms;

}

@keyframes tel-color {
    from {}

    to {
        background-color: rgb(21, 103, 255);
        border-radius: 20px;
    }

}

@keyframes tel-color2 {
    from {
        background-color: rgb(21, 103, 255);
        border-radius: 20px;
    }

    to {}
}


.ap:hover {
    animation: ap-color 800ms;
    animation-fill-mode: forwards;
}

.ap:not(:hover) {
    animation: ap-color2 600ms;

}

@keyframes ap-color {
    from {}

    to {
        background-color: rgb(255, 14, 74);
        border-radius: 20px;
    }

}

@keyframes ap-color2 {
    from {
        background-color: rgb(255, 14, 74);
        border-radius: 20px;
    }

    to {}
}

.dis:hover {
    animation: dis-color 800ms;
    animation-fill-mode: forwards;
}

.dis:not(:hover) {
    animation: dis-color2 600ms;

}

@keyframes dis-color {
    from {}

    to {
        background-color: rgb(0, 174, 255);
        border-radius: 20px;
    }

}

@keyframes dis-color2 {
    from {
        background-color: rgb(0, 174, 255);
        border-radius: 20px;
    }

    to {}
}


.git:hover {
    animation: git-color 800ms;
    animation-fill-mode: forwards;
}

.git:not(:hover) {
    animation: git-color2 600ms;

}

@keyframes git-color {
    from {}

    to {
        background-color: rgb(117, 0, 172);
        border-radius: 20px;
    }

}

@keyframes git-color2 {
    from {
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
    }

    to {}
}



.footer {
    color: white;
    float: left;
    font-family: font3;
}

.search {
    display: block;
    border: none;
    border-radius: 2px;
    position: relative;
    width: 250px;
    height: 30px;
    top: 35px;
    left: 50px;
    font-family: font2;
    color: rgb(36, 36, 36);
    font-size: auto;
    margin: 0;
    padding: 0;
    outline: none;
}
